# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Emacs
*~
#.*#

# Random junk
shh
err
out
stderr.txt
*.shh
*.err
*.leveldb
*.o
*.a
*.so
filter_pgn
diffed
position_frequency
pgn_header_histogram
pgn_headers_to_csv
*.cache
*.ignore
*.model
*.readable
*.predictions
*.xjson
*.invert
*.vw
shh?
tmp?
